body{
  
  background-color: lightblue;
  
}
  
h1{
  font-family:helvetica;
  background-color:black;
  border-style:inset;
  color:green;
}

h2{
  font-family:verdana;
  border:20px black;
  border-style:groove;
  color:Red
}

h3{
  font-family:cursive;
  border: 20px black;
  border-style:ridge;
  color:yellow;
  margin:0;
    font-size:25px;
  
}

h4{
  color:violet;
  font-size:30px;
  border: 20px black;
  border-style:outset;
}

section{
  
  font-size:18px;
}

article{
  
  font-size:20px;
  
}
